body {
	background-color:;
	#
	CCCCFF;
}

#logo {
	width: 150px;
	position: relative;
	top: 10px;
	float: right;
}


label.tarefas {
    display: inline-block;
    width: 90px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}